:root {
}

.panel {
    background-color: rgba(152, 251, 152, 0);
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-content: flex-start;
}

.unity-tab__header {
    background-color: rgb(229, 223, 223);
    -unity-font-style: bold;
    font-size: 14px;
}

.unity-tab__header:checked {
    background-color: rgb(173, 166, 166);
}

.tab-content {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}

.unity-tab__header-underline {
    opacity: 0;
}

.unity-text-field {
    font-size: 20px;
}

.unity-integer-field {
    font-size: 20px;
}

.unity-foldout {
    font-size: 20px;
}

.unity-radio-button {
    font-size: 20px;
}

.unity-radio-button-group {
    font-size: 20px;
}

.my-label {
    font-size: 18px;
}
