:root {

}

#CombatLog {
    --unity-item-height: 50;
}

#CombatLog .unity-list-view__item {
    background-color: rgba(86, 92, 68, 0.2);
    color: rgb(233, 196, 140);
    font-size: 25px;
    transition-duration: 1s;
    transition-property: background-color, color, font-size;
}

#CombatLog .unity-list-view__item:hover {
    background-color: rgb(86, 92, 68);
    color: rgb(233, 196, 140);
    font-size: 25px;
    transition-duraton: 0.5s;
    transition-property: background-color, color, font-size;
}